<main>
    Bienvenue sur l'admin ! Vous pouvez ici gérer vos auteurs et vos livres.
</main>
<aside>
    <a href="{{ path('admin_book_list') }}">Voir les livres</a>
    <a href="{{ path('admin_author_list') }}">Voir les auteurs</a>
</aside>
