{% include 'common/_header.html.twig' %}

    <main>
        {% if article.published %}
            <article>
                <h1>{{ article.title }}</h1>
                <p>{{ article.content }}</p>

                <ul>
                    {% for category in article.categories %}
                        <li>{{ category }}</li>
                    {% endfor %}
                </ul>
            </article>
        {% else %}
            <p>L'article demandé n'est pas en ligne</p>
        {% endif %}

    </main>

{% include 'common/_footer.html.twig' %}
