{% include 'common/_header.html.twig' %}

    <main>

        <p>Mon nom est {{ name }} et mon prénom est {{ firstName|upper }}</p>

        <p>Mes passions sont : </p>

        <ul>

            {{ sports|join(' - ') }}
            {# pour chaque valeur de la variable "sports" #}
            {#{% for sport in sports %}
                #}{# j'affiche la valeur de chaque sport #}{#
                <li>{{ sport }}</li>
            {% endfor %}#}
        </ul>
    </main>

{% include 'common/_footer.html.twig' %}
